<div id='editor-box'>
  <h4></h4>
  <textarea rows='10'></textarea>
  <div>
    <div class='radio-btn-group'></div>
  </div>
  {{> components/spinner }}
  {{> components/button-group
    size='small'
    buttons='[
      {"type": "direct-ai", "label": "명령"},
      {"type": "apply", "label": "반영"},
      {"type": "cancel", "label": "취소"}
    ]'
  }}
</div>