<section class='container slide right' id='feedback-slide'>
  <div class='description'>
    <div class='title'>피드백</div>
    <div class='detail'>하단의 버튼을 클릭하여 피드백을 받아보세요!</div>
  </div>
  <div id='feedback-content'></div>
  {{> components/button-group
    size="medium"
    buttons='[{"type": "default", "id": "feedback-btn", "label": "피드백"}]'
  }}
</section>