<div class='popup' id='feedback-popup'>
  <h3 class='title'>맞춤 피드백을 받아보세요!</h3>
  {{#each feedbackCriteria as |criteria|}}
    <section>
      <h4 class='category'>{{criteria.label}}</h4>
      <div class='radio-btn-group'>
        {{#each criteria.items}}
          <label>
            <input
              type='radio'
              name='{{criteria.value}}'
              value='{{value}}'
            />{{label}}
          </label>
        {{/each}}
      </div>
    </section>
  {{/each}}
  {{> components/button-group
    size='large'
    buttons='[
      {"type": "submit", "label": "제출"},
      {"type": "cancel", "label": "취소"}
    ]'
  }}
</div>