<nav id='ending-choice'>
  <div class='title'>
    어조를 선택하여 글을 편하게 작성해보세요!
  </div>
  <label>
    <input type='radio' name='ending' value='essay' checked />
    -습니다
  </label>
  <label>
    <input type='radio' name='ending' value='formal' />
    -(어)요
  </label>
  <label>
    <input type='radio' name='ending' value='informal' />
    -다
  </label>
</nav>