<nav id='ending-choice'>
  <div class='title'>
    원하는 어조를 선택하여 자동으로 어미를 완성해보세요!
  </div>
  <label>
    <input type='radio' name='ending' value='formal' checked />
    -습니다
  </label>
  <label>
    <input type='radio' name='ending' value='polite' />
    -(어)요
  </label>
  <label>
    <input type='radio' name='ending' value='plain' />
    -었다
  </label>
</nav>