<div class='popup' id='output-popup'>
  <h4 class='title' id='output-popup-title'>제목을 전달하세요.</h4>
  <div class='content' id='output-popup-content'>내용을 전달하세요.</div>
  <div class='btn-group medium'>
    <button id='output-apply-btn'>반영</button>
    <button id='output-cancel-btn'>취소</button>
  </div>
</div>