<div id='writing-tool'>
  <div class='tool-group'>
    {{#each modificationOptions}}
      <button class='clova-cmd' data-value='{{value}}'>{{label}}</button>
    {{/each}}
    <button id='tool-cancel-btn'>취소</button>
  </div>
  <div id='editor-box'>
    <h4></h4>
    <textarea rows='5' readonly></textarea>
    <div class='btn-group small'>
      <button id='clova-apply-btn'>반영</button>
      <button id='clova-cancel-btn'>취소</button>
    </div>
  </div>
</div>