<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kopilot</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/autoComplete.css">
    <link rel="stylesheet" href="/css/spell.css">
    <link rel="stylesheet" href="/css/longSentence.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/writingTool.css">
    <link rel="stylesheet" href="/css/editorBox.css">
    <link rel="stylesheet" href="/css/outputPopup.css">
    <link rel="stylesheet" href="/css/feedbackSlide.css">
    <link rel="stylesheet" href="/css/feedbackPopup.css">
    <link rel="stylesheet" href="/css/spinner.css">
</head>
<body>
    {{> header }}
    {{> nav }}
    {{{body}}}
    <script type="module" src="/javascript/index.js"></script>
    <script type="module" src="/javascript/spell/spellCheck.js"></script>
    <script type="module" src="/javascript/spell/popup.js"></script>
    <script type="module" src="/javascript/longSentence/longSentence.js"></script>
    <script type="module" src="/javascript/storage/storage.js"></script>
</body>
</html>
