<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <title>어미 자동 완성 구현하기</title>
    <link rel='stylesheet' href='/css/autoComplete.css' />
  </head>

  <body>
    <div>
      <div id='ending-choice'>
        <label><input type='radio' name='ending' value='essay' checked />
          Essay</label>
        <label><input type='radio' name='ending' value='formal' />
          Formal</label>
        <label><input type='radio' name='ending' value='informal' />
          Informal</label>
      </div>
      <textarea id='edit-textarea'></textarea>
      <div id='cursor-box'></div>
    </div>
    <script type='module' src='/javascript/autoComplete.js'></script>
  </body>

</html>