<main>
  <section class='container'>
    <div class='description'>
      <div class='title'>원문</div>
      <div class='detail'>드래그하여 부분적으로 글을 수정해보세요!</div>
    </div>
    <textarea id='textarea'></textarea>
    <div id='cursor-box'></div>
    {{!-- TODO 완성 후 주석 제거 --}}
    {{!-- {{> writing-tool }} --}}
    <div class='info-box'>
      {{!-- TODO 글자수 세기 --}}
      {{!-- TODO 복사하기 버튼 --}}
    </div>
  </section>
  <section class='container'>
    <div class='description'>
      <div class='title'>교정 결과</div>
      <div class='detail'>색칠된 부분을 클릭하여 글을 수정해보세요!</div>
    </div>
    <div id='output'></div>
    <div class='info-box'>
      <ul>
        <li class='yellow'>긴 문장</li>
        <li class='red'>맞춤법</li>
      </ul>
    </div>
  </section>
  <section class='container'>
    <div class='description'>
      <div class='title'>피드백</div>
    </div>
    <div id='feedback-content'>
      feedback content
    </div>
    <div class='btn-group large'>
      <button id='save-btn'>저장</button>
      <button id='feedback-btn'>피드백</button>
    </div>
  </section>
</main>
<div id="overlay"></div>
{{> output-popup }}
{{> feedback-popup }}
