<main>
  <section class='container'>
    <div class='description'>
      <div class='title'>원문</div>
      <div class='detail'>드래그하여 부분적으로 글을 수정해보세요!</div>
    </div>
    <div id='textarea-container'>
      <textarea id='textarea'></textarea>
      <div id="highlight-container"></div>
    </div>
    <div id='cursor-box'></div>
    {{> writing-tool }}
    <div class='info-box'>
       <div class='detail'>
        <div>공백 포함</div>
        <div class='counter' id='char-count-value'>0 자</div>
        <div class='counter' id='byte-count-value'>0 바이트</div>
      </div>
      {{!-- <div class='detail'>
        <button id="start-button">Start Auto Save</button>
        <button id="stop-button">Stop Auto Save</button>
        <button id="load-button">Load Versions</button>
      </div> --}}
      {{!-- TODO 복사하기 버튼 --}}
    </div>
  </section>
  <section class='container'>
    <div class='description'>
      <div class='title'>교정 결과</div>
      <div class='detail'>색칠된 부분을 클릭하여 글을 수정해보세요!</div>
    </div>
    <div id='output'></div>
    <div class='info-box'>
      <ul>
        <li class='yellow' id='longsentence-setting'>
          <img src='/images/circle.png'/>
          긴 문장 <span class="count-value" id="longsentence-count">0</span>개
          <span class="tooltip">긴 문장을 노란색으로 하이라이팅해요.<br/>클릭하여 분리된 문장을 확인하고 고쳐보세요!</span>
        </li>
        <li class='red'>
          <img src='/images/circle.png'/>
          맞춤법 <span class="count-value" id="error-count">0</span>개
          <span class="tooltip">Enter나 문장부호가 입력되면 맞춤법을 검사해요.<br/>빨간색으로 하이라이팅된 오류를 클릭하여 고쳐보세요!</span>
        </li>
      </ul>
    </div>
  </section>
</main>
<div class='overlay' id='overlay'></div>
<div id='feedback-floating-btn'>
  <img src='/images/symbol_3d.svg' />
</div>
{{> output-popup }}
{{> feedback-popup }}
{{> feedback-slide }}
{{!-- <h2>Saved Versions</h2>
<ul id="versionList"></ul> --}}