<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>kopilot</title>
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/css/autoComplete.css' />
    <link rel='stylesheet' href='/css/spell.css' />
    <link rel='stylesheet' href='/css/longSentence.css' />
    <link rel='stylesheet' href='/css/tooltip.css' />
  </head>

  <body>
    <header>
      <div id='logo-wrapper' onclick="window.location.href='/'">
        <img src='/images/mixed_logo.png' />
      </div>
    </header>
    <nav id='ending-choice'>
      <label>
        <input type='radio' name='ending' value='essay' checked />
        Essay
      </label>
      <label>
        <input type='radio' name='ending' value='formal' />
        Formal
      </label>
      <label>
        <input type='radio' name='ending' value='informal' />
        Informal
      </label>
    </nav>
    <main>
      <section class='container'>
        <textarea id='textarea'></textarea>
        <div id='cursor-box'></div>
      </section>
      <section class='container'>
        <div id='output' style='flex-grow: 1; width: 100%'></div>
      </section>
      <section class='container'>
        <div id='feedback-content'>
          feedback content
        </div>
        <div class='btn-container'>
          <button id='save-btn'>Save</button>
          <button id='feedback-btn'>Feedback</button>
        </div>
      </section>
    </main>
    <div id='overlay'></div>
    <div id='feedback-popup'>
      <h2>맞춤 피드백을 받아보세요!</h2>
      <section>
        <h3>어조</h3>
        <div class='radio-btn-group'>
          <label>
            <input type='radio' name='tone' value='formal' checked />
            공식적
          </label>
          <label>
            <input type='radio' name='tone' value='informal' />
            비공식적
          </label>
        </div>
      </section>
      <section>
        <h3>목적</h3>
        <div class='radio-btn-group'>
          <label>
            <input type='radio' name='purpose' value='resume' checked />
            자소서
          </label>
          <label>
            <input type='radio' name='purpose' value='email' />
            이메일
          </label>
          <label>
            <input type='radio' name='purpose' value='blog' />
            블로그
          </label>
        </div>
      </section>
      <div class='btn-container'>
        <button id='feedback-submit-btn'>Submit</button>
        <button id='feedback-cancel-btn'>Cancel</button>
      </div>
    </div>
  </body>
  <script type='module' src='/javascript/index.js'></script>
  <script type='module' src='/javascript/autoComplete.js'></script>
  <script src='/javascript/spell/spellCheck.js'></script>
  <script src='/javascript/spell/popup.js'></script>
  <script src='/javascript/longSentence/longSentence.js'></script>
</html>