<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Highlighter</title>
  <link rel='stylesheet' href='/css/spell.css' />
</head>
<body>

<textarea id="textarea" rows="10" cols="50"></textarea>
<br>
<br>
<div id="output"></div>

<script src="/javascript/spell/spellCheck.js"></script>
<script src="/javascript/spell/popup.js"></script>

</body>
</html>
