<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Highlighter</title>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <style>
    .highlight-overlay {
      position: relative;
      display: inline-block;
      background-color: rgba(255, 0, 0, 0.3); /* 투명도 조절 가능 */
      padding: 2px;
      border-radius: 2px;
    }
  </style>
</head>
<body>
<div id="editorjs"></div>
<script src="./myEditor.js"></script>
<script src="./spellCheck.js"></script>
<script src="./utils.js"></script>

</body>
</html>
