html {
  font-family: var(--font-family);
}

#cursor-box {
  position: absolute;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.5rem;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--secondary-color);

  z-index: 10;
  pointer-events: none;
}