#cursor-box {
  position: absolute;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.5rem;
  padding: 2px 5px;

  border: var(--border-size--thin) solid var(--font-color--tertiary);
  border-radius: var(--border-radius--small);

  background-color: white;
  color: var(--font-color--secondary);

  z-index: var(--z-index--medium);
  pointer-events: none;
}
