#editor-box {
  display: none;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;

  flex-direction: column;
  gap: var(--spacing--small);
  max-width: 30rem;
}

#editor-box textarea {
  padding: 0.3rem;

  font-size: var(--font-size--small);

  border: none;
  border-radius: var(--border-radius--medium);
}

#editor-box input[type='radio'] {
  display: none;
}

#editor-box .radio-btn-group {
  justify-content: center;
  align-items: center;
}

#editor-box .radio-btn-group label {
  background-color: white;
  color: var(--primary-color);

  min-width: 4rem;
  text-align: center;

  margin-bottom: 0;
  padding: 0.5rem 0.7rem;
}

#editor-box .radio-btn-group label.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#editor-box .radio-btn-group label:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#editor-box input:focus {
  border: none;
  outline: none;
}

#editor-box .btn-group {
  justify-content: flex-end;
}

#editor-box .btn-group button {
  padding: 0.5rem 0.8rem;
}
