#feedback-popup .category {
  margin-bottom: 1rem;
}

#feedback-popup .radio-btn-group input[type='radio'] {
  display: none;
}

#feedback-popup .radio-btn-group {
  display: flex;
}

#feedback-popup .radio-btn-group label {
  display: block;
  cursor: pointer;

  padding: 1rem;
  margin-bottom: 1rem;

  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: 500;
}

#feedback-popup .radio-btn-group label.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#feedback-popup .radio-btn-group label:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#feedback-popup .radio-btn-group label:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

#feedback-popup .radio-btn-group label:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#feedback-popup .spinner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#feedback-popup .spinner {
  border: 8px solid rgba(0, 0, 0, 0.1); /* 외곽선 */
  border-top: 8px solid var(--primary-color); /* 상단 부분을 강조 */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  animation: spin 1s linear infinite; /* 애니메이션 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
