:root {
  --primary-color: #005cfd;
  --secondary-color: #f0f4fa;
  --font-color: #333333;
  --font-color-for-detail: #444444;
  --border-color: #e5e5e5;

  --font-family: 'NanumSquare', Arial, sans-serif;
  --font-family-for-editor: sans-serif;

  --highlight-red: rgba(255, 0, 0, 0.3);
  --highlight-yellow: rgba(255, 255, 0, 0.5);
  --overlay-color: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  padding: 2rem 5rem;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
}

header {
  height: 4rem;

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  resize: none;

  font-family: var(--font-family-for-editor);
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;

  font-family: var(--font-family);
}

main {
  height: calc(100% - 7rem);
  gap: 1rem;

  display: flex;
  flex: 1;
}

.title {
  display: flex;
  align-items: center;

  font-weight: 600;
}

.detail {
  font-size: 0.9rem;
  color: var(--font-color-for-detail);
}

#logo-wrapper > img {
  height: 3rem;
  cursor: pointer;
}

.container {
  padding: 1rem;
  border: 0.2rem solid var(--border-color);
  border-radius: 0.5rem;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;

  font-size: 1.1rem;
}

.info-box {
  width: 100%;
  height: 1.5rem;

  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: var(--font-color-for-detail);
}

.info-box ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-box li {
  position: relative;
  padding-left: 1.5rem;
}

.info-box li::before {
  content: '•';
  position: absolute;

  left: 0;
  top: 20%;
  transform: translateY(-50%);

  font-family: --font-family-for-editor;
  font-size: 3.5rem;
}

.info-box .yellow::before {
  color: yellow;
}

.info-box .red::before {
  color: red;
}

.container:last-child {
  border: none;
  background-color: var(--secondary-color);

  flex: 0.6;
  gap: 1rem;
}

.highlight {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.btn-container {
  width: 100%;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-container button {
  width: 50%;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  opacity: 0.95;

  font-family: var(--font-family);
  font-size: 1.1rem;
  font-weight: 500;
}

.btn-container button:hover {
  opacity: 1;
}

#textarea {
  width: 100%;
  height: 100%;

  font-size: 1rem;
  line-height: 1.5rem;
}

#output {
  width: 100%;
  flex-grow: 1;
  line-height: 1.5rem;

  overflow-x: visible;
  overflow-y: auto;
  font-family: var(--font-family-for-editor);
}

#output > span {
  display: inline;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 1000;
}
