:root {
  --primary-color: #005cfd;
  --secondary-color: #f0f4fa;
  --font-color: #333333;
  --font-color-for-detail: #444444;
  --border-color: #e5e5e5;

  --font-family: 'NanumSquare', Arial, sans-serif;
  --font-family-for-editor: sans-serif;

  --highlight-red: rgba(255, 0, 0, 0.3);
  --highlight-yellow: rgba(255, 255, 0, 0.5);
  --overlay-color: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  padding: 2rem 5rem;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
}

header {
  height: 4rem;

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  resize: none;

  font-family: var(--font-family-for-editor);
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;

  font-family: var(--font-family);
}

main {
  height: calc(100% - 7rem);
  gap: 1rem;

  display: flex;
  flex: 1;
}

.title {
  display: flex;
  align-items: center;

  font-weight: 600;
}

.detail {
  font-size: 0.9rem;
  color: var(--font-color-for-detail);
}

#logo-wrapper > img {
  height: 3rem;
  cursor: pointer;
}

.container {
  padding: 1rem;
  border: 0.2rem solid var(--border-color);
  border-radius: 0.5rem;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;

  font-size: 1.1rem;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.info-box {
  width: 100%;
  height: 1.5rem;

  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: var(--font-color-for-detail);
}

.info-box ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-box li {
  position: relative;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.info-box img {
  width: 1rem;
  margin-right: 0.5rem;
}

.info-box .yellow img {
  filter: invert(96%) sepia(100%) saturate(7497%) hue-rotate(357deg)
    brightness(104%) contrast(104%);
}

.info-box .red img {
  filter: invert(18%) sepia(98%) saturate(5450%) hue-rotate(356deg)
    brightness(107%) contrast(119%);
}

.info-box .tooltip {
  width: 20rem;
  bottom: 180%;
  left: 50%;
  margin-left: -10rem;
}

.info-box li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.container:last-child {
  border: none;
  background-color: var(--secondary-color);

  flex: 0.6;
  gap: 1rem;
}

.highlight {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.btn-group {
  display: flex;
  justify-content: center;

  gap: 1rem;
}

.btn-group button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.5rem;
  font-family: var(--font-family);

  font-weight: 500;
}

.btn-group button:hover {
  font-weight: 600;
}

.btn-group.large {
  width: 100%;
  height: 2.5rem;
}

.btn-group.large button {
  width: 50%;

  font-size: 1.1rem;
}

.btn-group.medium button {
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

.btn-group.small {
  gap: 0.5rem;
}

.btn-group.small button {
  padding: 0.5rem 0.8rem;
}

.radio-btn-group {
  display: flex;
}

.radio-btn-group label {
  display: block;
  cursor: pointer;

  padding: 1rem;

  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: 500;
}

.radio-btn-group label.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.radio-btn-group label:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.radio-btn-group label:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.radio-btn-group label:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  display: none;
  flex-direction: column;
  gap: 1rem;

  width: 25rem;
  padding: 2rem;
  border-radius: 1rem;

  background-color: white;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.popup .title {
  line-height: 1.5rem;
}

.overlay {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 1000;
  pointer-events: none;
}

#textarea {
  width: 100%;
  height: 100%;

  font-size: 1rem;
  line-height: 1.5rem;
}

#output {
  width: 100%;
  flex-grow: 1;
  line-height: 1.5rem;

  overflow-x: visible;
  overflow-y: auto;
  font-family: var(--font-family-for-editor);
}

#output > span {
  display: inline;
}

#feedback-content {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  overflow: auto;

  flex-grow: 1;
}

#overlay {
  position: fixed;
}

#charCountLabel,
#charCountValue,
#byteCountLabel,
#byteCountValue {
  white-space: nowrap;
  display: inline-block;
}

#charCountLabel {
  width: 3.5rem;
}

#charCountValue {
  width: 3rem;
  text-align: right;
}

#byteCountLabel {
  width: 4.7rem;
}

#byteCountValue {
  width: 2rem;
  text-align: center;
}
