:root {
  --primary-color: #005cfd;
  --secondary-color: #f0f4fa;
  --font-color: #333333;
  --font-color-for-detail: #444444;
  --border-color: #e5e5e5;

  --highlight-red: rgba(255, 0, 0, 0.3);
  --highlight-yellow: rgba(255, 255, 0, 0.5);
  --overlay-color: rgba(0, 0, 0, 0.5);

  --font-family: 'NanumSquare', Arial, sans-serif;
  --font-family--editor: sans-serif;

  --font-size--large: 1.1rem;
  --font-size--medium: 1rem;
  --font-size--small: 0.9rem;
  --font-size--x-small: 0.85rem;

  --border-size--thick: 0.2rem;
  --border-size--thin: 0.05rem;

  --spacing--medium: 1rem;
  --spacing--small: 0.5rem;

  --page-margin--top-bottom: 2rem;
  --page-margin--left: 4rem;
  --page-margin--right: 7rem;

  --border-radius--large: 1rem;
  --border-radius--medium: 0.5rem;

  --z-index--medium: 10;
  --z-index--medium-high: 100;
  --z-index--high: 1000;
  --z-index--higher: 10000;
  --z-index--highest: 100000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

html {
  padding: var(--page-margin--top-bottom);
  padding-left: var(--page-margin--left);
  padding-right: var(--page-margin--right);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
}

header {
  height: 4rem;

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  resize: none;

  font-family: var(--font-family--editor);
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;

  font-family: var(--font-family);
}

main {
  height: calc(100% - 7rem);
  gap: var(--spacing--medium);

  display: flex;
  flex: 1;
}

span.em {
  color: var(--primary-color);
}

.title {
  display: flex;
  align-items: center;

  font-weight: 600;
}

.detail {
  font-size: var(--font-size--small);
  color: var(--font-color-for-detail);
}

#logo-wrapper > img {
  height: 3rem;
  cursor: pointer;
}

.container {
  padding: 1rem;
  border: var(--border-size--thick) solid var(--border-color);
  border-radius: var(--border-radius--medium);

  display: flex;
  flex: 1;
  gap: var(--spacing--medium);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 100%;
  display: flex;
  gap: var(--spacing--medium);
  align-items: center;

  font-size: var(--font-size--large);
}

.textarea-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.info-box {
  width: 100%;
  height: 1.5rem;

  font-size: var(--font-size--small);
  line-height: 1.2rem;
  font-weight: 600;
  color: var(--font-color-for-detail);
}

.info-box ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-box li {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  min-width: 40%;
}

.info-box img {
  width: 1rem;
  margin-right: 0.5rem;
}

.info-box .yellow img {
  filter: invert(96%) sepia(100%) saturate(7497%) hue-rotate(357deg)
    brightness(104%) contrast(104%);
}

.info-box .red img {
  filter: invert(18%) sepia(98%) saturate(5450%) hue-rotate(356deg)
    brightness(107%) contrast(119%);
}

.info-box .tooltip {
  width: 20rem;
}

.info-box li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.info-box .tooltip {
  font-size: var(--font-size--x-small);
  font-weight: 500;
}

#feedback-floating-btn .tooltip {
  width: 12rem;
  font-size: var(--font-size--x-small);
  font-weight: 500;
}

#feedback-floating-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.info-box .detail {
  display: flex;
  gap: var(--spacing--medium);
  align-items: center;
}

.info-box .detail > div {
  width: 33.3%;
}

.info-box .detail > button {
  width: 33.3%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.info-box .count-value {
  margin-left: 0.7rem;
  margin-right: 0.3rem;
}

.counter {
  text-align: right;
}

.highlight {
  position: relative;
  cursor: pointer;
}

.btn-group {
  display: flex;
  justify-content: center;

  gap: var(--spacing--medium);
}

.btn-group button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius--medium);
  font-family: var(--font-family);

  font-weight: 500;
}

.btn-group button:hover {
  font-weight: 600;
}

.btn-group.large {
  width: 100%;
  height: 2.5rem;
}

.btn-group.large button {
  width: 50%;

  font-size: var(--font-size--large);
}

.btn-group.medium button {
  font-size: var(--font-size--medium);
  padding: 0.6rem 1rem;
}

.btn-group.small {
  gap: var(--spacing--small);
}

.btn-group.small button {
  padding: 0.5rem 0.8rem;
}

.radio-btn-group {
  display: flex;
}

.radio-btn-group label {
  display: block;
  cursor: pointer;

  padding: 1rem;

  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: var(--font-size--small);
  font-weight: 500;
}

.radio-btn-group label.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.radio-btn-group label:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.radio-btn-group label:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.radio-btn-group label:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-index--higher);

  display: none;
  flex-direction: column;
  gap: var(--spacing--medium);

  width: 25rem;
  padding: 2rem;
  border-radius: var(--border-radius--large);

  background-color: white;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.popup .title {
  line-height: 1.5rem;
}

.overlay {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: var(--z-index--high);
  pointer-events: none;
}

.slide.right {
  position: fixed;
  top: 2rem;
  right: -100%;
}

#textarea-container {
  position: relative;
  width: 100%;
  height: 100%;

  font-family: var(--font-family--editor);
  font-size: var(--font-size--medium);
  line-height: 1.5rem;
}

#textarea {
  width: 100%;
  height: 100%;

  font-size: var(--font-size--medium);
  line-height: 1.5rem;
}

#highlight-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow-x: visible;
  overflow-y: auto;

  pointer-events: none;
}

#output {
  width: 100%;
  flex-grow: 1;
  line-height: 1.5rem;

  overflow-x: visible;
  overflow-y: auto;
  font-family: var(--font-family--editor);
}

#output > span {
  display: inline;
}

#feedback-content {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  border-radius: var(--border-radius--medium);
  background-color: white;
  overflow: auto;

  flex-grow: 1;
}

#overlay {
  position: fixed;
}

#feedback-floating-btn {
  position: fixed;

  bottom: 1.5rem;
  right: 1.5rem;
  z-index: var(--z-index--highest);
}

#feedback-floating-btn > img {
  width: 5rem;
  cursor: pointer;
}
