#ending-choice {
  height: 3rem;
  margin: 0 0.4rem;

  display: flex;
  gap: var(--spacing--medium);
}

#ending-choice label {
  display: flex;
  align-items: center;
  gap: var(--spacing--small);

  color: var(--font-color);
  font-weight: 600;
}
