.highlight.red {
  background-color: var(--highlight-red);
}

/* 팝업 창 스타일 */
.suggestion-edit-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.suggestion-edit-instructions {
  color: #555;
  text-align: center;
  text-decoration: line-through;
  opacity: 0.6;
  font-size: 1rem;
}

.suggestion-edit {
  width: 100%;
  padding: 0.5rem;
  border: 0.05rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.suggestion-edit:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0.5rem var(--primary-color);
  outline: none;
}
