.highlight.red {
  background-color: var(--highlight-red);
}

/* 팝업 창 스타일 */
.suggestion-edit-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--medium);
}

.suggestion-edit-instructions {
  color: var(--font-color--tertiary);
  text-align: center;
  text-decoration: line-through;
  opacity: 0.6;
  font-size: var(--font-size--medium);
}

.suggestion-edit {
  padding: 0.5rem;
  border: var(--border-size--thin) solid #ccc;
  border-radius: var(--border-radius--medium);
  font-size: var(--font-size--medium);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.suggestion-edit:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0.5rem var(--primary-color);
  outline: none;
}

#error-count {
  color: red;
  text-align: right;
}
