#storage-popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 0.2rem solid #ccc;
  padding: 10px;
  z-index: 1000;
  width: 13rem;
  border-radius: 0.5rem;
}

#version-list {
  max-height: 25rem;
  overflow-y: auto;
  padding: 0.5rem;
  list-style: none;
  margin: 0;
}

#version-list li {
  padding: 0.5rem;
  border-bottom: 0.1rem solid #eee;
  text-align: center;
}

#version-list li:last-child {
  border-bottom: none;
}

#version-list li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

#cancel-button {
  width: 100%;
  text-align: right;
}
