.tooltip {
  position: absolute;
  bottom: 150%;
  left: 50%;
  visibility: hidden;
  opacity: 0;

  background-color: black;
  color: white;

  font-family: var(--font-family);
  font-size: 0.85rem;
  text-align: center;

  border-radius: 0.5rem;
  padding: 0.5rem 0.4rem;

  z-index: 1;
  transition: opacity 0.3s;
}

.tooltip::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;

  border-style: solid;
  border-color: black transparent transparent transparent;
}
