.highlight {
    background-color: rgba(255, 255, 0, 0.5); 
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.tooltip {
    background-color: rgba(255, 255, 0, 0.5); /* Adjusted background color with 50% opacity */
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: underline; /* Add underline to the text */
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 100%; /* Position the tooltip below the text */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0.75;
    z-index: 10;
    margin-top: 5px;
    pointer-events: none; /* Prevent the tooltip from blocking mouse events */
}
