.tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  background-color: black;
  color: white;

  text-align: center;
  font-weight: 500;

  border-radius: var(--border-radius--medium);
  padding: 0.5rem 0.4rem;

  z-index: var(--z-index--highest);
  transition: opacity 0.3s;
}

.tooltip.top {
  bottom: 150%;
}

.tooltip.left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.tooltip::after {
  position: absolute;
  content: '';
  margin-left: -0.5rem;
  border-width: 0.5rem;

  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip.top::after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.left::after {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
