.highlight.blue {
  background-color: var(--primary-color);
  color: white;
}

#writing-tool {
  position: absolute;
  visibility: hidden;

  z-index: var(--z-index--medium-high);
}

#writing-tool .tool-group,
#writing-tool #editor-box {
  border-radius: 3px;
  background-color: var(--secondary-color);

  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
}

#writing-tool .tool-group {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;

  height: 1.8rem;
  margin: 0.5rem 0 1rem 0;
}

#writing-tool .tool-group button {
  border-right: 1px solid var(--primary-color);
  padding: 0 0.8rem;
  color: var(--primary-color);
}

#writing-tool .tool-group button:hover {
  font-weight: 600;
}

#writing-tool .tool-group button:last-child {
  border: none;
  color: var(--font-color);
}
